@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');


:root {
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --desa-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --cyan: #458c7e;
    --desa-dark-blue: hsl(212, 27%, 19%);
    --grayish-blue-dark: hsl(213, 9%, 39%);
    --grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue-light: hsl(210, 4%, 67%);
    --blue: #3dbeff;
    --green: #90d4c5;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Barlow', sans-serif;
}

body {
    font-size: 1.8rem;
}