.cards {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.cards__title {
    font-family: 'Fraunces', serif;
    font-size: 5rem;
    margin-bottom: 3rem;
}

.cards__text {
    line-height: 1.8;
    margin-bottom: 3rem;
    color: var(--grayish-blue-light);
}

.cards__img {
    width: 100%;
    height: 100%;
}

.cards__item_text-box {
    width: 60%;
    align-self: center;
    justify-self: center;
}

.cards__link:link, .cards__link:visited {
    font-family: 'Fraunces', serif;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    color: black;
    transition: all 0.3s ease-in;
    position: relative;
}

.cards__link:hover, .cards__link:active {
    color: var(--blue);
}

.cards__link:link::after {
    content: "";
    display: block;
    width: 100%;
    height: 20%;
    background-color: aqua;
}

.cards__item_full {
    position: relative;
    display: flex;
    height: 70rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards__img_full {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.cards__text_small {
    font-size: 1.6rem;
    width: 50%;
    text-align: center;
}

.cards__title_small {
    padding-top: 30%;
    font-size: 4rem;
    width: 50%;
    text-align: center;
}

.color__dark-blue {
    color: var(--dark-blue);
}

.color__cyan {
    color: var(--desa-cyan);
}